$color-primary: #000;
$color-secondary: #fff;
$color-terteary: #d6220e;

$width-size:
(
  'xsmall': 200px,
  'small': 250px,
  'medium': 300px,
  'large': 500px,
  'xlarge': 600px,
  'xxlarge': 700px,


)