@import './variables';
@import './header.scss';
@import './footer.scss';

@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/*Estilos generales */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  }


/* BODY */

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

main {
  grid-area: main;
}

/* si las imagenes se usan de fondo siempre tienen que ir dentro del archivo css, si las imagenes son por contenido como por ejemplo imagenes de productos dentro de las etiquetas img en el html, en este caso como podria ser una imagen de fondo la aplico dentro del css con una class hero */

.hero {
  background-image: url(../img/peakpx.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.contenedor-primero, .contenedor {
  @include flexbox
  margin-top: 100px;
  .contenedor__title {
    font-size: 1.5rem;
    
  }
}


.contenedor__img {
  width: map-get($width-size, large);
  height: auto;
  .img {
    padding-top: 100px;
    width: map-get($width-size, xxlarge);
    height: auto;}
}

.contenedor2 {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  .contenedor__img2 {
    width: map-get($width-size, xsmall);
    height: auto;
  }
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid $color-terteary;
  border-radius: 0.6em;
  color: $color-primary;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 10px;
  font-weight: 150;
  line-height: 1;
  padding: 0.75em 1.80em;
  text-align: center;
  text-transform: uppercase;
  font-family: (Verdana,);

  &:hover, &:focus {
    color: $color-primary;
    outline: 0;
  }
  .first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  
    &:hover {
      box-shadow: 0 0 40px 40px $color-terteary inset;
    }
  
}


.imgdpto {
  width: map-get($width-size, xlarge);
  height: 600px;
  .margin {
    margin-top: 25px;
  }
  
}

.imgduplex {
  @extend .imgdpto;  
  .Separacion {
    padding-top: 55px;
  }
}
.proyectos{
  padding-top: 100px;
  
  text-align: center;
  
  
}

.btn {
  .btn-primary{
    text-align: center;
  }
}
.contenedor-primero__text{
  margin-top: 1rem;
  
}